<h1>Registrar usuario</h1>
    <form id="registerForm" method="post">
        <label for="first_name">Nombre</label>
        <input type="text" required name="first_name">
        <label for="last_name">Apellido</label>
        <input type="text" required name="last_name">
        <label for="email">Email</label>
        <input type="email" required name="email">
        <label for="age">Age</label>
        <input type="number" required name="age">
        <label for="password">Password</label>
        <input type="password" required name="password">
        <button type="submit">Enviar</button>
    </form><br><br>


